.canvas
  .snowing
    .small-snow
      -for (i=0 ; i<20 ; i++)
        .small
    .medium-snow
      -for (i=0 ; i<20 ; i++)
        .medium
  -for (i=0 ; i<12 ; i++)
    .tree
  .tree-parts
    -for (i=0 ; i<30 ; i++)
      .tree-part
  .house
    .front
      .a
      .b
      .c
      .d
      .e
      -for (i=0 ; i<6 ; i++)
        span.f
      .g
      .k
    .side
      .wall-snow
      .w-area
        .w-outer
        .window
          .w-inner
          .w-shadow
      .w-area
        .w-outer
        .window
          .w-inner
          .w-shadow
  .ground-d
  .ground-a
  .ground-b
  .ground-c